body {
    margin: 0;
    font-family: Arial, sans-serif;   
    background-color: #16362D;
    position: relative;
  }
  
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url('../imgs/10.png') center/cover no-repeat;
    opacity: 0.08;
    z-index: -1;
  }

.navbar 
{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;      
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;               
}

.homebutton
{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: medium; /* fix */
    
    padding: 10px;
    text-decoration: none;
}

.homebutton a
{
    color: inherit; 
    text-decoration: none;    
}

.nav-links
{
    font-family: 'Poppins', sans-serif;
    font-size: medium; /* fix */
    display: flex;                 /* this makes links horizontal */
    gap: 30px; 
    padding: 10px;
}

.nav-links a 
{
    margin-left: 30px;            /* spacing between links */
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
}

.hero
{
    color: #ffffff;
    display: flex;
    justify-content: space-between; /* text left, image right */
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto; /* center container horizontally */ 
    gap: 80px;
}

.hero-text
{
    display: flex;
    flex-direction: column;  /* stack h1 and h2 vertically */
    gap: 20px;  
}

.hero-text h1
{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;

}

.hero-text h2
{
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    
}

.hero-image img
{
    max-width: 50px;       
    height: auto;
}